body {
  background-color: var(--color2);
  background-image: url("../img/main/fon.png");
  color: var(--color8);
}

.main {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 40px;
}

.info-item {
  text-align: center;
  margin-bottom: 15px;
}

.main-items {
  margin-top: 40px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-around;
}

.cart-main-info {
  margin-top: 40px;
  background-image: var(--card);
  padding: 30px;
  border-radius: 10px;
}

.cart-main-info span {
  font-family: "grafyty";
  font-size: 22px;
}

.cart-main-info a {
  font-family: "grafyty";
  font-size: 26px;
  color: var(--color4);
  transition-duration: 0.5s;
}

.cart-main-info a:hover {
  color: var(--orange);
}
