.info-pannel {
  min-width: 25vw;
  min-height: 100vh;
  background-color: var(--color3);
}

.home-main {
  padding: 10px;
  margin: 20px;
  width: 600px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories-storage {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.cat-card {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 400px;
  background-image: var(--card);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3),
    2px -2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cat-card:hover {
  background-image: var(--card_hover);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.5),
    2px -2px 15px rgba(0, 0, 0, 0.5), -2px 2px 15px rgba(0, 0, 0, 0.5);
}

.img-container {
  text-align: center;
  vertical-align: middle;
  padding: auto;
  width: 250px;
  height: 330px;
}

.img-container img {
  max-width: 220px;
  max-height: 300px;
  transition-duration: 0.5s;
}

.img-container img:hover {
  max-width: 240px;
  max-height: 320px;
}

.cat-card span {
  text-decoration: none;
  font-size: 32px;
  font-family: "roboto";
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3),
    2px -2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
  color: var(--color6);
  transition-duration: 0.5s;
}

.cat-card span:hover {
  font-size: 38px;
  color: var(--color7);
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5),
    -6px -6px 15px rgba(0, 0, 0, 0.5), 6px -6px 15px rgba(0, 0, 0, 0.5),
    -6px 6px 15px rgba(0, 0, 0, 0.5);
}

.text-container {
  text-align: center;
  vertical-align: middle;
  padding: auto;
  width: 240px;
  height: 50px;
}

.mysql-logo {
  max-width: 400px;
  max-height: 400px;
}
