{% extends 'shop/index.html' %} {% block title %} log_in {% endblock %} {% block
style %}
<link rel="stylesheet" href="{{ static('my_auth/css/update.css') }}" />
<link rel="stylesheet" href="{{ static('my_auth/css/user_form.css') }}" />
{% endblock %} {% block main %}
<h3 class="sign-in">{{ ('Регистрация') }}</h3>
<form method="POST" class="user-form" enctype="multipart/form-data" id="form">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  {{ form.username }} {{ form.email }} {{ form.password1 }} {{ form.password2 }}
  <div class="block-btn">
    <button
      class="btn-blue"
      style="vertical-align: middle"
      type="submit"
      id="button"
    >
      <span class="font-4" style="font-size=22px">create </span>
    </button>
  </div>
</form>
<div class="message-container">
  {% if messages %} {% for message in messages %}
  <span class="messages">{{ message }}</span>
  {% endfor %} {% endif %}
</div>
{% endblock %}
